* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;

    --primary-bg-color: #6D5D6E;
    --primary-highlight-bg-color: #4F4557;
    --primary-text-color: #ffff;

    --secondary-bg-color: #393646;
    --secondary-highlight-bg-color: #F4EEE0;


    --padding-8px: 0.5rem;


    --font-weight-800: 800;
    --font-weight-600: 600;
}


h1 {
    padding: 1rem 1rem 0 1rem;
}

.button {
    border: 0;
    background-color: transparent;
}

.button--nav {
    padding: 1rem;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-600);
}

.button--nav:hover {
    background-color: var(--primary-highlight-bg-color);
    margin-right: 8px;
    border-radius: 4px;
}

.button--main {
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-600);
}

.button--radius {
    border-radius: var(--padding-8px);
}


header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

small {
    padding: 0 1rem 1rem 1rem;
    flex: 1 0 100%;
}